<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <h1><%= @cocktail.name %></h1>
    <%= f.input :description %>
    <%= f.association :ingredient, as: :radio_buttons %>
    <%= f.submit 'Add a dose', class: "btn btn-primary"%>
  <% end %>
<% end %>
